<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NIIT Dakar</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
      color: #007bff;
      text-align: center;
    }

    p {
      text-align: justify;
      margin-bottom: 20px;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 20px;
    }

    li {
      margin-bottom: 8px;
    }
  </style>
</head>
<body>
<!-- Content -->
<div class="content">
  <h1>NIIT Dakar ( {{deployed_env}} ) </h1>
  <p>
    NIIT (National Institute of Information Technology) de Dakar : NIIT Dakar est une école exclusivement informatique, sise à Mermoz, VDN, Dakar, reconnue par le Ministère de L’Enseignement Supérieur et Recherche (MESR) sous le numéro d’agrément : 001625/METFP/DC/DFP/ du 14/03/2007. NIIT Dakar. Elle s’est implantée dans la capitale sénégalaise en 2007, apportant ainsi au monde éducatif et informatique, un nouvel élan.
  </p>
  <p>
    De l’expérience avérée à l’échelle internationale, de l’innovation sur les méthodologies, de la flexibilité pour faciliter la formation professionnelle à tous pour le plus grand bien du marché informatique.
  </p>
  <p>
    NIIT Dakar dispense des programmes en Génie Informatique avec les options Génie Logiciel et Administration Réseaux Systèmes.
  </p>
  <p>
    Etudier à NIIT c’est vous assurer un suivi individuel avec des enseignants qualifiés et un développement de vos talents pour une meilleure insertion dans le monde professionnel.
  </p>
  <h2>LES VALEURS, LES MOTIFS ET CROYANCES</h2>
  <p>
    Nous, NIIT, croyons fermement que notre développement n’est que la résultante du développement de chacun de nous. Il est alors du devoir de tout un chacun de persévérer et d’approfondir ces valeurs cardinales auxquelles nous croyons.
  </p>
  <p>
    NIIT, C’EST D’ABORD LA VALEUR DE L’HUMAIN NIIT a et croit en une image positive de l’être humain et veut impulser des carrières en créant des opportunités basées sur l’apprentissage, la pensée et l’innovation et cela avec la contribution de chacun. L’être humain est une énorme potentialité qui ne demande qu’à être valorisée.
  </p>
  <p>
    NIIT, C’EST AUSSI QUALITE ET VALEUR Pour NIIT, la communauté passe avant TOUT :
  </p>
  <ul>
    <li>la Communauté doit recevoir plus que ce qu’elle donne à chacun de ses membres ;</li>
    <li>tout engagement pris envers une Communauté doit être respecté quelqu’un soit le prix ;</li>
  </ul>
  <p>
    La valeur de la parole donnée et de celle de l’engagement sont des points cardinaux sur lesquels est basé le développement de NIIT. La profitabilité et le développement de notre organisation à moyen et long termes passent par le fait de donner le meilleur de nous-mêmes à nos clients, d’être perçus comme les meilleurs et d’être les meilleurs. Cela implique aussi d’adopter les meilleurs standards ainsi qu’une éthique dans les affaires.
  </p>
  <p>
    NIIT, C’EST AUSSI UNE MISSION La croissance et le développement de NIIT passent par son aspect pionnier dans le développement de la technologie et du savoir-faire et cela, au profit de l’humanité toute entière. Ce sont ces caractéristiques qui ont motivé et facilité l’implantation de NIIT à travers le monde.
  </p>
  <p>
    Au fil des ans et en tenant compte des priorités des entreprises et des pays partenaires, NIIT a continuellement réorienté ses activités en tenant compte des spécificités et des objectifs de développement propres à chaque pays. Il est loisible de dire que la mission de NIIT peut se résumer ainsi :
  </p>
  <ul>
    <li>former les futures élites managériales des Entreprises et des Etats dans un esprit d’ouverture internationale, de performance, et de challenge ;</li>
    <li>aider les cadres en activité à se mettre à niveau en se remettant en question et s’adapter efficacement aux changements qui s’opèrent dans leur environnement ;</li>
    <li>accompagner les entreprises et institutions dans leurs mutations stratégiques ;</li>
    <li>contribuer activement au développement qualitatif de l’enseignement avec comme finalité la production de talents mais surtout grâce à la maîtrise d’outils pédagogiques innovants et à la promotion de la recherche.</li>
  </ul>
</div>

</body>
</html>
